body {
  margin: 0 auto 0 auto;
  width: 80%;
  font-family: Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
  max-width: 670px;
  min-width: 360px;
  font-size: 16px;
  color: #333;
  background-color: #FDFAFA;
}

#header {
  background-color: #801A15;
  color: #fff;
}

h1 {
  font-size: 2.3em;
}

#header-h1 {
  background-image: url(media/flag-tiny.png);
  background-position: 34px 34px;
  background-repeat: no-repeat;
  line-height: 0.7;
  padding: 30px 20px 20px 82px;
}

#header-continued {
  font-size: 0.6em;
  padding-left: 4em;
}

#header-subtitle {
  padding: 0 0 0 20px;
}

#header-description {
  padding: 0 20px 20px 20px;
}

table {
  margin: 0 auto;
}

hr {
  background-color: #E7E7E7;
  height: 4px;
  border: 0px none;
}

a {
  color: #4078C0;
  /*font-weight: bold;*/
  text-decoration: none;
}

code {
  background-color: rgba(0, 0, 0, 0.04);
  font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
  font-size: 13.6px;
}
